table, th, td {
    border: 4px solid black;}
h1 {font-family: Copperplate, Papyrus, fantasy;
text-align: center;}
h2 {font-family: "Trebuchet MS", Helvetica, sans-serif;
text-align: center;}	
h3 {font-family: "Trebuchet MS", Helvetica, sans-serif;}

table {
    border-collapse: collapse;
}

th,td{
    padding: 15px;
    text-align: left;
}

tr:hover{
    background-color: coral;
}